/* Fonts */

@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeui.eot');
    src:url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui.woff') format('woff'),
        url('../fonts/segoeui.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeuii.eot');
    src:url('../fonts/segoeuii.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeuii.woff') format('woff'),
        url('../fonts/segoeuii.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeuisb.eot');
    src:url('../fonts/segoeuisb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeuisb.woff') format('woff'),
        url('../fonts/segoeuisb.ttf') format('truetype');
    font-weight:600;
    font-style:normal;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeuib.eot');
    src:url('../fonts/segoeuib.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeuib.woff') format('woff'),
        url('../fonts/segoeuib.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeuil.eot');
    src:url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeuil.woff') format('woff'),
        url('../fonts/segoeuil.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Rouble';
    src:url('../fonts/rouble.eot');
    src:url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rouble.woff') format('woff'),
        url('../fonts/rouble.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
body {
	width:100%;
	height:100%;
	color:#203b4c;
	font-size:12px;
	line-height:16px;
    font-family:'Segoe UI', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 18px;
}
table {
	margin:0 0 18px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#203b4c;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#203b4c;
	font-size:12px;
    font-family:'Segoe UI', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
}
textarea {
	overflow:auto;
}
button {
    font-family:'Segoe UI', sans-serif;
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder {
	color:#c7c4bb;
}
:-moz-placeholder {
	color:#c7c4bb;
}
::-moz-placeholder {
	color:#c7c4bb;
}
:-ms-input-placeholder {
	color:#c7c4bb;
}
.wrapper {
	position:relative;
	min-width:1000px;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
}

/* Header */

.top {
	margin:0 0 17px;
	background:url('../img/top_bg.jpg') no-repeat center top;
}
.top > div {
	padding:0 0 3px;
	background:url('../img/top_div.png') repeat-x bottom;
}
.header {
	position:relative;
	width:960px;
	height:191px;
	margin:0 auto;
	background:url('../img/header_bg.png') no-repeat left 92px;
}
.header .logo {
	position:absolute;
	left:369px;
	top:13px;
}
.header .slogan {
	position:absolute;
	left:0;
	top:52px;
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	text-transform:uppercase;
	margin:0;
}
.header .search {
	position:absolute;
	left:0;
	top:107px;
	width:203px;
	height:26px;
	background:url('../img/header_search.png') repeat;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
}
.header .search p {
	width:174px;
	height:26px;
	margin:0;
}
.header .search p input {
	width:165px;
	color:#ffffff;
	font-size:13px;
	padding:3px 0 3px 9px;
}
.header .search p input::-webkit-input-placeholder {
	color:#ffffff;
}
.header .search p input:-moz-placeholder {
	color:#ffffff;
}
.header .search p input::-moz-placeholder {
	color:#ffffff;
}
.header .search p input:-ms-input-placeholder {
	color:#ffffff;
}
.header .search button {
	position:absolute;
	right:0;
	top:0;
	width:29px;
	height:26px;
	cursor:pointer;
	background:url('../img/header_search_button.png') no-repeat 6px 6px;
}
.header .basket {
	position:absolute;
	right:0;
	top:45px;
	z-index:10;
}
.header .basket > p {
	color:#ffffff;
	font-size:15px;
	line-height:18px;
	padding:10px 0 9px 49px;
	margin:0;
	background:url('../img/header_basket.png') no-repeat left top;
}
.header .basket > p a {
	color:#ffffff;
	text-decoration:none;
}
.header .basket > p a:hover {
	text-decoration:underline;
}
.header .basket > div {
	display:none;
	position:absolute;
	right:73px;
	top:35px;
	width:484px;
	padding:3px;
	background:url('../img/intro_div_opacity.png') repeat;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	behavior:url('./pie.htc');
}
.header .basket > div > span {
	position:absolute;
	right:68px;
	top:-7px;
	display:block;
	width:18px;
	height:10px;
	background:url('../img/header_basket_arrow.png') no-repeat left top;
}
.header .basket > div > div {
	text-align:right;
	padding:10px 18px 2px;
	background:#ffffff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior:url('./pie.htc');
}
.header .basket table {
	width:100%;
	margin:0;
}
.header .basket table td {
	color:#203b4c;
	font-size:14px;
	line-height:18px;
	font-weight:300;
	text-align:left;
	vertical-align:middle;
	padding:3px 0 3px 20px;
}
.header .basket table td a:hover {
	color:#203b4c;
}
.header .basket table td:first-child {
	width:42px;
	padding-left:0;
}
.header .basket table td:last-child {
	text-align:right;
}
.header .basket table td h5 {
	display:inline-block;
	font-size:15px;
	line-height:18px;
	font-weight:300;
	vertical-align:middle;
	text-transform:uppercase;
	padding:0;
	margin:-6px 0 0;
}
.header .basket table td div {
	position:relative;
	width:42px;
	height:46px;
	margin:0 
}
.header .basket table td div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:42px;
	max-height:46px;
	margin:auto;
}
.header .basket table td span {
	padding-left:4px;
}
.header .basket table td strong {
	font-size:17px;
	font-weight:600;
	padding:0 0 0 5px;
}
.header .basket table td strong em {
	font-style:normal;
	font-family:'Rouble', sans-serif;
}
.header .basket > div > div button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 11px 6px 10px;
	margin:3px 0 10px;
	background:#763850;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header .basket > div > div button:hover {
	background:#683147;
}
.header .basket > div > div button:active {
	background:#5c2c3e;
}
.header .phone {
	position:absolute;
	right:0;
	top:106px;
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
}
.menu {
	width:960px;
	text-align:center;
	margin:0 auto 28px;
}
.menu li {
	display:inline-block;
	font-size:18px;
	line-height:21px;
	padding:2px 0 3px 83px;
	margin:0 0 0 52px;
	background:url('../img/menu_li.png') no-repeat left top;
}
.menu li:first-child {
	padding-left:0;
	margin-left:-10px;
	background:none;
}
.menu li:last-child {
	margin-right:-10px;
}
.menu li a {
	position:relative;
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:6px 11px 9px;
	margin:-6px -11px -9px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.menu li a:hover, .menu li.active a {
	text-decoration:none;
	background:#f59f0f;
}
.intro {
	width:960px;
	padding:11px 0 0;
	margin:0 auto;
}
.intro .nav {
	display:inline-block;
	position:relative;
	z-index:200;
	float:left;
	width:192px;
	vertical-align:top;
	margin:0 58px 0 0;
}
.intro .nav > div {
	margin:0 0 49px;
}
.intro .nav h3 {
	position:relative;
	z-index:300;
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	text-transform:uppercase;
	padding:10px 32px 9px;
	margin:0 0 13px;
	background:url('../img/intro_nav_h3.png') no-repeat left top;
}
.intro .nav ul {
	margin:0 0 15px 32px;
}
.intro .nav ul li {
	font-size:15px;
	line-height:18px;
	padding:2px 0 3px;
	margin:0;
}
.intro .nav ul li a, .lb .nav ul li a {
	position:relative;
	z-index:400;
	color:#ffffff;
	text-decoration:none;
}
.intro .nav ul li a:hover {
	text-decoration:underline;
}
.intro .nav.hover ul li a, .lb .nav.hover ul li a {
	color:#a8740c;
	text-decoration:none !important;
}
.intro .nav.hover ul li.active a, .lb .nav.hover ul li.active a {
	color:#203b4c;
}
.intro .nav ul li > div, .lb .nav ul li > div {
	display:none;
	position:absolute;
	left:-15px;
	top:-14px;
	padding:6px;
	background:url('../img/intro_div_opacity.png') repeat;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	behavior:url('./pie.htc');
}
.intro .nav ul li > div > div, .lb .nav ul li > div > div {
	position:relative;
	width:990px;
	min-height:403px;
	background:#ffffff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior:url('./pie.htc');
}
.intro .nav ul li > div > div ul, .lb .nav ul li > div > div ul {
	padding:24px 0 32px;
	margin:0 0 0 250px;
}
.intro .nav ul li > div > div ul li, .lb .nav ul li > div > div ul li {
	display:inline-block;
	width:160px;
	text-align:center;
	vertical-align:top;
	margin:0 0 16px 12px;
}
.intro .nav ul li > div > div ul li a, .lb .nav ul li > div > div ul li a {
	display:inline-block;
	min-width:80px;
	text-decoration:none;
	padding:5px 0;
}
.intro .nav ul li > div > div ul li div, .lb .nav ul li > div > div ul li div {
	position:relative;
	height:64px;
}
.intro .nav ul li > div > div ul li div img, .lb .nav ul li > div > div ul li div img {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	max-width:160px;
	max-height:64px;
	margin:auto;
}
.intro .nav ul li > div > div ul li p, .lb .nav ul li > div > div ul li p {
	color:#203b4c;
	font-size:15px;
	line-height:20px;
	padding:0 5px;
	margin:0;
}
.intro .nav ul li > div > div ul li a:hover p, .lb .nav ul li > div > div ul li a:hover p {
	text-decoration:underline;
}
.intro .slider {
	overflow:hidden;
	position:relative;
	display:inline-block;
	width:710px;
	height:363px;
	vertical-align:top;
	margin:0 0 49px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
	behavior:url('./pie.htc');
}
.intro .slider .containter, .intro .slider .container > div > div {
	position:relative;
	clear:both;
	overflow:hidden;
	width:710px;
	height:363px;
}
.intro .slider .container > div > div > a {
	display:block;
	width:710px;
	height:363px;
	text-decoration:none;
}
.intro .slider .container > div > div > a > div {
	position:absolute;
	left:0;
	top:60px;
	z-index:1;
	width:710px;
	height:240px;
	background:url('../img/slider_opacity.png') repeat;
}
.intro .slider .container > div > div > a > div > div {
	position:absolute;
	left:50%;
	top:50%;
	width:480px;
	text-align:center;
	margin:-58px 0 0 -240px;
}
.intro .slider .container > div > div > a > div > div h5 {
	display:inline-block;
	font-size:30px;
	line-height:33px;
	font-weight:normal;
	text-transform:uppercase;
	padding:7px 0 0;
	margin:0 0 20px;
	border-top:1px solid #253002;
}
.intro .slider .container > div > div > a > div > div h3 {
	font-size:26px;
	line-height:29px;
	font-weight:600;
	padding:0;
	margin:0 0 8px;
}
.intro .slider .container > div > div > a > div > div p {
	font-size:15px;
	line-height:18px;
	font-style:italic;
	text-transform:uppercase;
	margin:0;
}
.intro .slider .container > div > div > a > div > div p span {
	text-decoration:line-through;
	padding:0 30px 0 0;
}
.intro .slider .pagination {
	position:absolute;
	bottom:22px;
	width:710px;
	z-index:100;
	text-align:center;
	margin:0;
}
.intro .slider .pagination li {
	display:inline-block;
	margin:0 2px;
}
.intro .slider .pagination li a {
	position:relative;
	display:block;
	width:10px;
	height:10px;
	background:#ffffff;
	border:1px solid #000000;
	opacity:0.5;
	filter:alpha(opacity=50);
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	behavior:url('./pie.htc');
}
.intro .slider .pagination li.current a {
	opacity:0.25;
	filter:alpha(opacity=25);
}

/* Index */

.catalog {
	width:960px;
	margin:0 auto -26px;
}
.catalog div {
	margin:0 0 49px;
}
.catalog h2 {
	font-size:26px;
	line-height:29px;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.catalog h6 {
	color:#a34c8c;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	text-align:center;
	padding:0;
	margin:0;
}
.catalog h6 a {
	color:#a34c8c;
}
.catalog > div > div {
	margin:4px 0 7px;
}
.catalog > div > div > div {
	position:relative;
	display:inline-block;
	width:204px;
	height:310px;
	text-align:center;
	vertical-align:top;
	padding:8px 12px 0;
	margin:0 13px 0 0;
}
.catalog > div > div > div > a {
	position:relative;
	display:block;
	text-decoration:none;
}
.catalog > div > div > div > span {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:228px;
	height:328px;
	background:url('../img/catalog_div_hover.png') no-repeat left top;
}
.catalog > div > div > div:nth-child(4n) {
	margin-right:-3px;
}
.catalog > div > div > div .picture {
	position:relative;
	width:204px;
	height:217px;
	margin:0;
}
.catalog > div > div > div .picture img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:204px;
	max-height:213px;
	margin:auto;
}
.catalog > div > div > div p {
	color:#203b4c;
	font-size:14px;
	line-height:17px;
	font-weight:300;
	text-transform:uppercase;
	margin:0 0 2px;
}
.catalog > div > div > div h5 {
	color:#203b4c;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	padding:0;
	margin:0 0 8px;
}
.catalog > div > div > div h5 em {
	font-weight:600;
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 2px;
}
.catalog > div > div > div h5 > span {
	display:inline-block;
	font-size:15px;
	vertical-align:top;
	margin:0 17px 0 0;
}
.catalog > div > div > div h5 span > span {
	text-decoration:line-through;
}
.catalog > div > div > div h5 span em {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	padding:0 0 0 1px;
}
.catalog > div > div > div .buttons {
	display:none;
	width:228px;
	margin:0 0 0 -12px;
}
.catalog > div > div > div .buttons button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 12px 6px;
	margin:0 2px;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.catalog > div > div > div .buttons .add {
	background:#f59f0f;
}
.catalog > div > div > div .buttons .add:hover {
	background:#eb8c0d;
}
.catalog > div > div > div .buttons .add:active {
	background:#e37d0c;
}
.catalog > div > div > div .buttons .order {
	background:#763850;
}
.catalog > div > div > div .buttons .order:hover {
	background:#683147;
}
.catalog > div > div > div .buttons .order:active {
	background:#5c2c3e;
}
.catalog div > p {
	color:#763850;
	font-size:16px;
	line-height:19px;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.catalog div > p a {
	color:#763850;
	margin:0 0 0 5px;
}
.main {
	background:url('../img/main_bg.png') repeat;
}
.main > div {
	padding:31px 0 1px;
	background:url('../img/main_div.png') repeat-x top;
}
.main .information {
	clear:both;
	overflow:hidden;
	width:960px;
	margin:0 auto 10px;
}
.main .information .benefits {
	float:left;
	width:236px;
	margin:13px 0 20px;
}
.main .information .benefits ul {
	margin:0;
}
.main .information .benefits ul li {
	color:#203b4c;
	font-size:12px;
	line-height:19px;
	font-weight:600;
	text-transform:uppercase;
	margin:0 0 15px;
}
.main .information .benefits ul li div {
	position:relative;
	display:inline-block;
	width:66px;
	height:52px;
	vertical-align:middle;
	margin:0 11px 0 0;
}
.main .information .benefits ul li div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:66px;
	max-height:52px;
	margin:auto;
}
.main .information .benefits ul li span {
	display:inline-block;
	width:156px;
	margin:0 -3px 0 0;
	vertical-align:middle;
}
.main .information .reviews {
	float:right;
	width:710px;
	margin:0 0 20px;
}
.main .information .reviews > div {
	margin:0 0 4px;
}
.main .information .reviews > div h6 {
	font-size:11px;
	line-height:14px;
	font-weight:normal;
	text-align:right;
	padding:0;
	margin:0 8px 6px;
}
.main .information .reviews > div h6 a {
	color:#a8740c;
}
.main .information .reviews > div > div {
	position:relative;
	padding:17px 32px 21px;
	margin:0 0 6px;
	background:#f59f0f;
	border-bottom:1px solid #ebba6a;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
	-webkit-box-shadow:inset 0 0 29px #dd8f0e;
	-moz-box-shadow:inset 0 0 29px #dd8f0e;
	box-shadow:inset 0 0 29px #dd8f0e;
	behavior:url('./pic.htc');
}
.main .information .reviews > div > div > span {
	position:absolute;
	left:39px;
	bottom:-6px;
	display:block;
	width:13px;
	height:6px;
	background:url('../img/main_reviews_arrow.png') no-repeat left top;
}
.main .information .reviews > div > div p {
	color:#ffffff;
	font-size:px;
	line-height:19px;
	margin:0;
}
.main .information .reviews > div h5 {
	color:#203b4c;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:0 0 0 54px;
}
.main .about {
	clear:both;
	overflow:hidden;
	width:710px;
	padding:0 0 0 250px;
	margin:0 auto 29px;
}
.main .about img {
	position:relative;
	float:left;
	margin:5px 0 15px -250px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
	behavior:url('./pie.htc');
}
.main .about h1 {
	color:#203b4c;
	font-size:22px;
	line-height:25px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 17px;
}
.main .about p {
	color:#203b4c;
	font-size:11px;
	line-height:19px;
	margin:0 0 19px;
}

/* Content */

.content {
	margin:8px 0 0;
	padding:0 0 114px;
	background:url('../img/content_bg.png') repeat-x bottom;
}
.content > div {
	width:960px;
	margin:0 auto;
}
.breadcrumbs {
	clear:both;
	overflow:hidden;
	margin:-3px 0 29px !important;
}
.content > div > .breadcrumbs {
	margin:0 0 5px;
}
.breadcrumbs li {
	float:left;
	color:#203b4c;
	font-size:12px;
	line-height:15px;
	padding:0 0 0 9px;
	margin:0 0 0 2px;
	background:url('../img/breadcrumbs_li.png') no-repeat left 3px;
}
.breadcrumbs li:first-child {
	padding-left:0;
	margin-left:0;
	background:none;
}
.breadcrumbs li a {
	color:#203b4c;
}
.lb {
	display:inline-block;
	width:212px;
	vertical-align:top;
	margin:0 35px 0 0;
}
.lb .nav {
	position:relative;
	z-index:10;
	margin:0 0 73px;
}
.lb .nav > div {
	margin:0 0 46px;
}
.lb .nav h3 {
	position:relative;
	z-index:300;
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	text-transform:uppercase;
	padding:10px 32px 9px;
	margin:0 0 13px;
	background:url('../img/intro_nav_h3.png') no-repeat left top;
}
.lb .nav ul {
	margin:0 0 15px 32px;
}
.lb .nav ul li {
	font-size:15px;
	line-height:18px;
	padding:2px 0 3px;
	margin:0;
}
.lb .nav ul li a {
	position:relative;
	color:#a8740c;
	text-decoration:none;
}
.lb .nav ul li a:hover {
	text-decoration:underline;
}
.lb .special {
	overflow:hidden;
	position:relative;
	margin:0 0 35px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior:url('./pie.htc');
}
.lb .special a {
	text-decoration:none;
}
.lb .special img {
	margin:0 0 -3px;
}
.lb .special div {
	position:absolute;
	left:0;
	top:30px;
	z-index:1;
	width:212px;
	height:240px;
	background:url('../img/slider_opacity.png') repeat;
}
.lb .special div > div {
	position:absolute;
	left:12px;
	top:50%;
	width:188px;
	height:auto;
	text-align:center;
	background:none;
}
.lb .special div > div h5 {
	display:inline-block;
	font-size:18px;
	line-height:21px;
	font-weight:normal;
	text-transform:uppercase;
	padding:6px 0 0;
	margin:0 0 10px;
	border-top:1px solid #253002;
}
.lb .special div > div h3 {
	font-size:22px;
	line-height:25px;
	font-weight:600;
	padding:0;
	margin:0 0 27px;
}
.lb .special div > div p {
	font-size:18px;
	line-height:21px;
	font-style:italic;
	text-transform:uppercase;
	margin:0;
}
.lb .special div > div p span {
	display:block;
	font-size:15px;
	line-height:18px;
	text-decoration:line-through;
	margin:0 0 10px;
}
.lb .delivery {
	position:relative;
	height:300px;
	margin:0 0 35px;
	background:#a34c8c;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior:url('./pie.htc');
}
.lb .delivery a {
	display:block;
	text-decoration:none;
}
.lb .delivery div {
	position:absolute;
	left:42px;
	top:50%;
	width:128px;
	text-align:center;
}
.lb .delivery div img {
	margin:0 0 18px;
}
.lb .delivery p {
	color:#ffffff;
	font-size:19px;
	line-height:24px;
	margin:0 0 12px;
}
.lb .delivery p span {
	display:block;
	text-transform:uppercase;
}
.lb .delivery h5 {
	color:#ffffff;
	font-size:19px;
	line-height:24px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.rb {
	display:inline-block;
	width:710px;
	vertical-align:top;
	margin:0 -3px 0 0;
}
.rb > h1 {
	color:#203b4c;
	font-size:26px;
	line-height:29px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:33px 0 16px;
}
.rb > p {
	color:#203b4c;
	font-size:12px;
	line-height:19px;
	font-weight:300;
	margin:0 0 19px;
}
.rb > h2 {
	color:#203b4c;
	font-size:17px;
	line-height:20px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:23px 0 16px;
}
.rb > ul.default {
	margin:0 0 19px 33px;
}
.rb > ul.default li {
	color:#203b4c;
	font-size:12px;
	line-height:19px;
	font-weight:300;
	padding:0 0 0 19px;
	background:url('../img/rb_li.png') no-repeat left 6px;
}
.filter {
	position:relative;
	padding:13px 20px 14px 28px;
	margin:0 0 13px;
	background:#f2f1ee;
	border-radius:8px;
}
.filter > p {
	display:inline-block;
	color:#203b4c;
	font-size:13px;
	line-height:16px;
	vertical-align:middle;
	margin:-2px 32px 0 0;
}
.filter > div {
	position:relative;
	display:inline-block;
	height:26px;
	width:276px;
	vertical-align:middle;
	margin:0 28px 0 0;
}
.filter button {
	position:relative;
	display:inline-block;
	width:135px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 0 6px;
	margin:0 6px 0 0;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.filter button.clear {
	background:#f59f0f;
}
.filter button.clear:hover {
	background:#eb8c0d;
}
.filter button.clear:active {
	background:#e37d0c;
}
.filter button.submit {
	background:#763850;
}
.filter button.submit:hover {
	background:#683147;
}
.filter button.submit:active {
	background:#5c2c3e;
}
.products > div {
	position:relative;
	display:inline-block;
	width:204px;
	height:310px;
	text-align:center;
	vertical-align:top;
	padding:8px 12px 0;
	margin:0 10px 19px 0;
}
.products > div:nth-child(3n) {
	margin-right:-3px;
}
.products > div > a {
	position:relative;
	display:block;
	text-decoration:none;
}
.products > div > span {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:228px;
	height:328px;
	background:url('../img/catalog_div_hover.png') no-repeat left top;
}
.products > div .picture {
	position:relative;
	width:204px;
	height:217px;
	margin:0;
}
.products > div .picture img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:204px;
	max-height:213px;
	margin:auto;
}
.products > div p {
	color:#203b4c;
	font-size:14px;
	line-height:17px;
	font-weight:300;
	margin:0 0 2px;
}
.products > div h5 {
	color:#203b4c;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	padding:0;
	margin:0 0 8px;
}
.products > div h5 em {
	font-weight:600;
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 2px;
}
.products > div h5 > span {
	display:inline-block;
	font-size:15px;
	vertical-align:top;
	margin:0 17px 0 0;
}
.products > div h5 span > span {
	text-decoration:line-through;
}
.products > div h5 span em {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	padding:0 0 0 1px;
}
.products > div .buttons {
	display:none;
	width:228px;
	margin:0 0 0 -12px;
}
.products > div .buttons button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 12px 6px;
	margin:0 2px;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.products > div .buttons .add {
	background:#f59f0f;
}
.products > div .buttons .add:hover {
	background:#eb8c0d;
}
.products > div .buttons .add:active {
	background:#e37d0c;
}
.products > div .buttons .order {
	background:#763850;
}
.products > div .buttons .order:hover {
	background:#683147;
}
.products > div .buttons .order:active {
	background:#5c2c3e;
}
.rb .pagination {
	text-align:center;
	margin:0 0 30px;
}
.rb .pagination li {
	display:inline-block;
	color:#203b4c;
	font-size:12px;
	line-height:15px;
	font-weight:600;
	margin:0 2px;
}
.rb .pagination li a {
	color:#203b4c;
}
.item {
	padding:4px 0 0;
	margin:0 0 20px;
}
.item .picture {
	position:relative;
	display:inline-block;
	width:290px;
	height:290px;
	vertical-align:top;
	margin:6px 27px 20px 0;
}
.item .picture img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:290px;
	max-height:290px;
	margin:auto;
}
.item .information {
	display:inline-block;
	width:390px;
	vertical-align:top;
	margin:0 -3px 0 0;
}
.item .information h1 {
	color:#203b4c;
	font-size:26px;
	line-height:29px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 14px;
}
.item .information p {
	color:#203b4c;
	font-size:13px;
	line-height:22px;
	margin:0 0 14px;
}
.item .information h5 {
	color:#203b4c;
	font-size:26px;
	line-height:29px;
	font-weight:600;
	padding:0;
	margin:0 0 18px;
}
.item .information h5 em {
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 1px;
}
.item .information h5 > span {
	display:inline-block;
	font-size:18px;
	line-height:21px;
	vertical-align:top;
	margin:4px 20px 0 0;
}
.item .information h5 > span > span {
	text-decoration:line-through;
}
.item .information h5 > span em {
	font-size:19px;
}
.item .information .buttons {
	margin:0 0 29px;
}
.item .information .buttons button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 12px 6px;
	margin:0 4px 0 0;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.item .information .buttons .add {
	background:#f59f0f;
}
.item .information .buttons .add:hover {
	background:#eb8c0d;
}
.item .information .buttons .add:active {
	background:#e37d0c;
}
.item .information .buttons .order {
	background:#763850;
}
.item .information .buttons .order:hover {
	background:#683147;
}
.item .information .buttons .order:active {
	background:#5c2c3e;
}
.item .information .more {
	position:relative;
	width:400px;
	padding:16px 18px 11px;
	margin:0 0 20px -20px;
	border:2px solid #9f7384;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
.item .information .more h3 {
	color:#203b4c;
	font-size:16px;
	line-height:19px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 11px;
}
.item .information .more ul {
	margin:0 0 36px;
}
.item .information .more ul li {
	display:inline-block;
	font-size:15px;
	line-height:18px;
	margin:0 -3px 0 26px;
}
.item .information .more ul li:first-child {
	margin-left:0;
}
.item .information .more ul li a {
	color:#203b4c;
	text-decoration:none;
	border-bottom:1px dashed #203b4c;
}
.item .information .more ul li.active a {
	color:#a34c8c;
	border-bottom:1px dashed transparent;
}
.item .information .more > div > div {
	display:inline-block;
	width:124px;
	text-align:center;
	vertical-align:top;
	margin:0 7px 11px 0;
}
.item .information .more > div > div > a {
	display:block;
}
.item .information .more > div > div div {
	position:relative;
	width:124px;
	height:148px;
	margin:0 0 4px;
}
.item .information .more > div > div div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:124px;
	max-height:148px;
	margin:auto;
}
.item .information .more > div > div a {
	text-decoration:none;
}
.item .information .more > div > div p {
	color:#203b4c;
	font-size:12px;
	line-height:14px;
	font-weight:300;
	text-decoration:none;
	margin:0 0 8px;
}
.item .information .more > div > div a:hover p {
	text-decoration:underline;
}
.item .information .more > div > div h5 {
	color:#203b4c;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	padding:0;
	margin:0 0 6px;
}
.item .information .more > div > div h5 em {
	font-size:19px;
	font-weight:normal;
	font-style:normal;
	font-family:'Rouble', sans-serif;
}
.item .information .more > div > div button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 12px 6px;
	margin:0;
	background:#f59f0f;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.item .information .more > div > div button:hover {
	background:#eb8c0d;
}
.item .information .more > div > div button:active {
	background:#e37d0c;
}
.similar {
	width:723px;
	margin:58px 0 0;
}
.similar h2 {
	color:#203b4c;
	font-size:16px;
	line-height:19px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 10px;
}
.similar > div > div {
	position:relative;
	display:inline-block;
	width:204px;
	height:310px;
	text-align:center;
	vertical-align:top;
	padding:8px 12px 0;
	margin:0 10px 0 0;
}
.similar > div > div  > a {
	position:relative;
	display:block;
	text-decoration:none;
}
.similar > div > div > span {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:228px;
	height:328px;
	background:url('../img/catalog_div_hover.png') no-repeat left top;
}
.similar > div > div:nth-child(4n) {
	margin-right:-3px;
}
.similar > div > div .picture {
	position:relative;
	width:204px;
	height:217px;
	margin:0;
}
.similar > div > div .picture img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:204px;
	max-height:213px;
	margin:auto;
}
.similar > div > div p {
	color:#203b4c;
	font-size:14px;
	line-height:17px;
	font-weight:300;
	margin:0 0 2px;
}
.similar > div > div h5 {
	color:#203b4c;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	padding:0;
	margin:0 0 8px;
}
.similar > div > div h5 em {
	font-weight:600;
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 2px;
}
.similar > div > div h5 > span {
	display:inline-block;
	font-size:15px;
	vertical-align:top;
	margin:0 17px 0 0;
}
.similar > div > div h5 span > span {
	text-decoration:line-through;
}
.similar > div > div h5 span em {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	padding:0 0 0 1px;
}
.similar > div > div .buttons {
	display:none;
	width:228px;
	margin:0 0 0 -12px;
}
.similar > div > div .buttons button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 12px 6px;
	margin:0 2px;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.similar > div > div .buttons .add {
	background:#f59f0f;
}
.similar > div > div .buttons .add:hover {
	background:#eb8c0d;
}
.similar > div > div .buttons .add:active {
	background:#e37d0c;
}
.similar > div > div .buttons .order {
	background:#763850;
}
.similar > div > div .buttons .order:hover {
	background:#683147;
}
.similar > div > div .buttons .order:active {
	background:#5c2c3e;
}
.rb .gallery {
	width:729px;
	margin:27px 0 -20px;
}
.rb .gallery > div {
	position:relative;
	display:inline-block;
	width:215px;
	vertical-align:top;
	padding:3px;
	margin:0 17px 20px 0;
	border:1px solid #f5a217;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior:url('./pie.htc');
}
.rb .gallery > div img {
	position:relative;
	margin:0 0 -3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.panorama {
	background:url('../img/main_bg.png') repeat;
}
.panorama > div {
	width:710px;
	padding:0 0 35px 250px;
	margin:-17px auto 0;
}
.panorama h2 {
	color:#203b4c;
	font-size:16px;
	line-height:19px;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
	padding:0;
	margin:0 0 16px;
}
.panorama > div > div {
	margin:0 0 16px;
}
.rb .contact {
	color:#203b4c;
	text-align:center;
	margin:32px 0 29px;
}
.rb .contact > div {
	margin:0 0 21px;
}
.rb .contact h1 {
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.rb .contact h2 {
	font-size:15px;
	line-height:24px;
	font-weight:300;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.rb .contact h2 strong {
	font-weight:600;
}
.rb .contact h3 {
	font-size:14px;
	line-height:24px;
	font-weight:300;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.rb .contact h3 strong {
	font-size:15px;
	font-weight:600;
}
.rb .contact p {
	font-size:14px;
	line-height:24px;
	font-weight:300;
	margin:0;
}
.rb .contact h4 {
	font-size:15px;
	line-height:24px;
	font-weight:300;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.rb .contact h4 strong {
	font-weight:600;
}
.rb .contact h5 {
	font-size:15px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.feedback {
	padding:90px 0 0;
	background:url('../img/feedback_t.png') no-repeat left top;
}
.feedback > div {
	padding:0 0 32px;
	background:url('../img/feedback_b.png') no-repeat left bottom;
}
.feedback > div > div {
	position:relative;
	text-align:center;
	padding:0 60px 1px;
	background:url('../img/feedback_bg.png') repeat-y left;
}
.feedback h2 {
	position:absolute;
	left:60px;
	top:-50px;
	width:590px;
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 20px;
}
.feedback p {
	clear:both;
	overflow:hidden;
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	margin:0 0 11px;
}
.feedback p span {
	float:left;
	display:block;
	width:106px;
	text-align:right;
	padding:8px 0;
	margin:0 33px 0 0;
}
.feedback p input, .feedback p textarea {
	position:relative;
	float:left;
	width:290px;
	font-size:13px;
	padding:6px 10px;
	background:#ffffff;
	border:1px solid #ede4d6;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
.feedback p textarea {
	min-height:50px;
	resize:none;
}
.feedback button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 22px 6px;
	margin:10px 0 0;
	background:#763850;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.feedback button:hover {
	background:#683147;
}
.feedback button:active {
	background:#5c2c3e;
}
.opentime {
	height:90px;
	color:#203b4c;
	text-align:center;
	padding:11px 60px 0;
	margin:39px 0 34px;
	background:url('../img/opentime_bg.png') no-repeat left top;
}
.opentime h2 {
	font-size:18px;
	line-height:24px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.opentime h3 {
	font-size:18px;
	line-height:24px;
	font-weight:300;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
.opentime h3 strong {
	font-weight:600;
}
.opentime h3 span {
	padding:0 0 0 50px;
}
.opentime h3 span:first-child {
	padding-left:0;
}
.opentime p {
	font-size:13px;
	line-height:18px;
	margin:7px 0 0;
}
.content .basket {
	margin:0 0 -50px;
}
.content .basket h2 {
	font-size:16px;
	line-height:19px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 26px;
}
.content .basket > div {
	min-height:74px;
	padding:12px 0;
	margin:0 0 31px;
	background:url('../img/basket_div.png') no-repeat right top;
}
.content .basket .picture {
	position:relative;
	display:inline-block;
	width:100px;
	height:98px;
	margin:-12px 89px -12px 0;
	vertical-align:middle;
}
.content .basket .picture img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:100px;
	max-height:98px;
	margin:auto;
}
.content .basket h3 {
	display:inline-block;
	width:300px;
	font-size:17px;
	line-height:20px;
	font-weight:300;
	text-transform:uppercase;
	vertical-align:middle;
	margin:2px 10px 0 0;
}
.content .basket .price {
	display:inline-block;
	width:230px;
	font-size:13px;
	line-height:16px;
	vertical-align:middle;
	margin:0 10px 0 0;
}
.content .basket .price span {
	font-size:18px;
	line-height:21px;
	font-weight:600;
	padding:0 0 0 9px;
}
.content .basket .price span em {
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 3px;
}
.content .basket .quantity {
	display:inline-block;
	width:148px;
	vertical-align:middle;
	margin:4px 10px 0 0;
}
.content .basket .quantity p {
	display:inline-block;
	color:#203b4c;
	font-size:13px;
	line-height:16px;
	font-weight:300;
	vertical-align:middle;
	margin:0 11px 0 0;
}
.content .basket .quantity h5 {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	padding:0 17px 0 0;
	margin:0;
}
.content .basket .quantity h5 input {
	position:relative;
	width:23px;
	color:#203b4c;
	font-size:13px;
	text-align:center;
	padding:3px 2px;
	border:1px solid #60737e;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
.content .basket .quantity h5 .plus, .content .basket .quantity h5 .minus {
	position:absolute;
	right:0;
	display:block;
	width:11px;
	height:6px;
	cursor:pointer;
}
.content .basket .quantity h5 .minus {
	top:6px;
	background:url('../img/minus_icon.png') no-repeat left top;
}
.content .basket .quantity h5 .plus {
	top:15px;
	background:url('../img/plus_icon.png') no-repeat left top;
}
.content .basket .quantity h5 .plus:hover, .content .basket .quantity h5 .minus:hover {
	background-position:0 -6px;
}
.content .basket .quantity h5 .plus:active, .content .basket .quantity h5 .minus:active {
	background-position:0 -12px;
}
.content .basket .remove {
	display:inline-block;
	width:13px;
	height:12px;
	vertical-align:middle;
	cursor:pointer;
	margin:4px 0 0;
	background:url('../img/basket_remove.png') no-repeat left top;
}
.content .basket .remove:hover {
	background-position:0 -12px;
}
.content .basket .remove:active {
	background-position:0 -24px;
}
.content .basket > div.total {
	min-height:auto;
	padding:0 0 0 192px;
	margin:38px 0 0;
	background:none;
}
.content .basket > div.total h5 {
	display:inline-block;
	width:240px;
	font-size:13px;
	line-height:16px;
	font-weight:300;
	vertical-align:middle;
	margin:0 10px 0 0;
}
.content .basket > div.total .price {
	width:279px;
	margin-top:-4px;
}
.content .basket .buttons {
	display:inline-block;
	width:223px;
	vertical-align:middle;
	margin:0 -3px 0 0;
}
.content .basket .buttons p {
	display:inline-block;
	width:86px;
	font-size:13px;
	line-height:16px;
	font-weight:300;
	vertical-align:middle;
	margin:0 10px 0 0;
}
.content .basket .buttons button {
	position:relative;
	display:inline-block;
	width:124px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 0 6px;
	margin:2px 0 0;
	background:#f59f0f;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.content .basket .buttons button:hover {
	background:#eb8c0d;
}
.content .basket .buttons button:active {
	background:#e37d0c;
}
.content .basket > .totalprice {
	min-height:auto;
	text-align:right;
	padding:0;
	margin:41px 0 0;
	background:none;
}
.content .basket > .totalprice p {
	margin:0;
}
.content .basket > .totalprice p {
	font-size:13px;
	line-height:23px;
	margin:0;
}
.content .basket > .totalprice p.result {
	color:#a34c8c;
}
.content .basket > .totalprice p span {
	font-size:18px;
	line-height:21px;
	font-weight:600;
	padding:0 0 0 9px;
}
.content .basket > .totalprice p span em {
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 3px;
}
.content .sendorder {
	text-align:center;
	margin:81px 0 -12px;
}
.content .sendorder p {
	font-size:12px;
	line-height:16px;
	font-weight:300;
	text-align:left;
	margin:0 0 16px;
}
.content .sendorder p span {
	display:block;
	margin:0 0 6px;
}
.content .sendorder p textarea {
	position:relative;
	width:946px;
	padding:6px;
	border:1px solid #eeeeee;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
.content .sendorder p textarea {
	min-height:52px;
	resize:vertical;
}
.content .sendorder button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 19px 6px 18px;
	background:#f59f0f;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.content .sendorder button:hover {
	background:#eb8c0d;
}
.content .sendorder button:active {
	background:#e37d0c;
}
.content > div > h1 {
	font-size:26px;
	line-height:29px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:33px 0 22px;
}
.content .order {
	margin:0 0 40px;
}
.content .order > div {
	margin:0 0 39px;
}
.content .order > div h3 {
	font-size:16px;
	line-height:19px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 27px;
}
.content .order > div p {
	clear:both;
	overflow:hidden;
	font-size:13px;
	line-height:16px;
	margin:0 0 11px;
}
.content .order > div p span {
	float:left;
	display:block;
	width:123px;
	text-align:right;
	white-space:nowrap;
	padding:8px 0;
	margin:0 23px 0 0;
}
.content .order > div p input, .content .order > div p textarea {
	position:relative;
	float:left;
	width:398px;
	font-size:13px;
	padding:6px 10px;
	background:#ffffff;
	border:1px solid #ede4d6;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
.content .order > div p textarea {
	min-height:50px;
	resize:none;
}
.content .order > div ul {
	margin:-8px 0 -20px;
}
.content .order > div ul li {
	display:inline-block;
	width:330px;
	margin:0 17px 20px 0;
}
.content .order > div ul li a {
	display:inline-block;
	vertical-align:middle;
	text-decoration:none;
	padding:0 10px 0 0;
}
.content .order > div ul li div {
	position:relative;
	display:inline-block;
	width:74px;
	height:94px;
	vertical-align:middle;
	margin:0 22px 0 0;
	background:url('../img/order_li_div.png') no-repeat left top;
}
.content .order > div ul li div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:74px;
	max-height:94px;
	margin:auto;
}
.content .order > div ul li p {
	display:inline-block;
	max-width:219px;
	font-size:12px;
	line-height:17px;
	vertical-align:middle;
	margin:-4px 0 0;
}
.content .order > div ul li a:hover p, .content .order > div ul li a.active p {
	text-decoration:underline;
}
.rb .search {
	margin:39px 0 51px;
}
.rb .search p {
	margin:0 0 6px;
}
.rb .search p input {
	position:relative;
	display:inline-block;
	width:462px;
	font-size:15px;
	vertical-align:middle;
	padding:5px 8px;
	margin:0 11px 0 0;
	border:1px solid #eeeeee;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
.rb .search button {
	display:inline-block;
	color:#203b4c;
	font-size:16px;
	line-height:19px;
	font-weight:600;
	text-decoration:underline;
	text-transform:uppercase;
	vertical-align:middle;
	cursor:pointer;
	padding:7px 7px 8px;
	background:none;
}
.rb .search button:hover {
	text-decoration:none;
}
.rb .search h5 {
	font-size:12px;
	line-height:16px;
	font-weight:300;
	text-decoration:underline;
	padding:0;
	margin:0;
}
.rb .result {
	margin:0 0 51px;
}
.rb .result > div {
	margin:0 0 26px;
}
.rb .result h2 {
	font-size:17px;
	line-height:22px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 4px;
}
.rb .result h2 a {
	color:#763850;
}
.rb .result p {
	font-size:12px;
	line-height:19px;
	font-weight:300;
	margin:0;
}
.content .reviews {
	margin:28px 0 52px;
}
.content .reviews > div {
	margin:0 0 23px;
}
.content .reviews > div > div {
	padding:0 0 35px;
	background:url('../img/content_reviews_b.png') no-repeat left bottom;
}
.content .reviews > div > div > div {
	padding:29px 0 0;
	background:url('../img/content_reviews_t.png') no-repeat left top;
}
.content .reviews > div > div > div > div {
	padding:1px 32px;
	background:url('../img/content_reviews_bg.png') repeat-y left;
}
.content .reviews > div > div > div > div p {
	color:#203b4c;
	font-size:13px;
	line-height:22px;
	font-weight:300;
	margin:-15px 0 -12px;
}
.content .reviews > div h5 {
	color:#203b4c;
	font-size:13px;
	line-height:18px;
	font-weight:300;
	text-transform:uppercase;
	padding:0;
	margin:-1px 0 0 54px;
}

/* Footer */

div.clear {
	clear:both;
	overflow:hidden;
	height:92px;
	padding:0 !important;
	background:none !important;
}
.footer {
	margin:-92px 0 0;
	background:url('../img/main_bg.png') repeat;
}
.footer > div {
	position:relative;
	width:960px;
	height:92px;
	margin:0 auto;
	background:url('../img/footer_bg.png') repeat-x top;
}
.footer .nav {
	position:absolute;
	left:0;
	top:6px;
	width:960px;
	text-align:center;
	margin:0;
}
.footer li {
	display:inline-block;
	font-size:17px;
	line-height:20px;
	margin:0 71px;
}
.footer li:first-child {
	margin-left:-10px;
}
.footer li:last-child {
	margin-right:-10px;
}
.footer li a {
	color:#763850;
	text-decoration:none;
}
.footer li a:hover {
	text-decoration:underline;
}
.footer p {
	color:#763850;
	font-size:13px;
	line-height:16px;
	margin:0;
}
.footer p a {
	color:#763850;
}
.footer .copy {
	position:absolute;
	left:0;
	top:60px;
}
.footer .author {
	position:absolute;
	right:0;
	top:60px;
}
.footer .social {
	position:absolute;
	left:50%;
	top:46px;
	width:480px;
	text-align:center;
	margin:0 0 0 -240px;
}
.footer .social li {
	position:relative;
	display:inline-block;
	margin:0 1px 0 0;
}
.footer .social li a {
	display:block;
	width:23px;
	height:23px;
}
.footer .social li .vkontakte {
	background:url('../img/social_vkontakte_icon.png') no-repeat left top;
}
.footer .social li .facebook {
	background:url('../img/social_facebook_icon.png') no-repeat left top;
}
.footer .social li .twitter {
	background:url('../img/social_twitter_icon.png') no-repeat left top;
}
.footer .social li a:hover {
	background-position:0 -23px;
}

/* Range slider */

.range {
	position:absolute;
	left:0;
	top:11px;
	width:276px;
}
.range span.value {
	position:absolute;
	left:50%;
	top:13px;
	display:block;
	color:#203b4c;
	font-size:13px;
	line-height:16px;
	font-weight:600;
}
.range span.value em {
	font-weight:normal;
	font-style:normal;
	font-family:'Rouble', sans-serif;
}
.ui-slider {
	position:relative;
}
.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:11px;
	height:13px;
	background:url('../img/slider_range.png') no-repeat left top;
	cursor:pointer;
}
.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	overflow:hidden;
}
.ui-slider-horizontal {
	height:1px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top:-6px;
	margin-left:-5px;
}
.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left:0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right:0;
}
.ui-widget-content {
	background:#8798a2;
}
.ui-widget-header {
	background:#4a5f6c;
}

/* Modal */

.fade {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:2000;
	width:100%;
	height:100%;
	cursor:pointer;
	background:url('../img/fade_bg.png')
}
div.modal {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index:2020;
	width:342px;
	text-align:center;
	padding:26px 20px 15px;
	margin-left:-191px;
	background:#ffffff url('../img/modal_bg.png') repeat;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
div.modal .close {
	position:absolute;
	right:7px;
	top:7px;
	display:block;
	width:12px;
	height:12px;
	cursor:pointer;
	background:url('../img/modal_close.png') no-repeat 2px 2px;
}
div.modal h3 {
	color:#763850;
	font-size:18px;
	line-height:22px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 26px;
}
div.modal p {
	margin:0 0 11px;
}
div.modal p input {
	position:relative;
	width:260px;
	font-size:13px;
	padding:5px 9px;
	background:#ffffff;
	border:1px solid #ededed;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url('./pie.htc');
}
div.modal button {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:300;
	text-transform:uppercase;
	cursor:pointer;
	padding:5px 22px 6px;
	margin:18px 0 11px;
	background:#763850;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
	behavior:url('./pie.htc');
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
div.modal button:hover {
	background:#683147;
}
div.modal button:active {
	background:#5c2c3e;
}